In [63]:
import pandas as pd

C = pd.read_stata(
    "/Users/clarissaache/Downloads/microdata_2005_06_social_stata/sec 2a.dta", convert_categoricals=False
)
print(C.shape)
C.sample(5)

(99315, 29)

,hhcode,province,region,psu,idc,s2aq01,s2aq02,s2aq03,s2bq01,s2bq02,...,s2bq12,s2bq13,s2bq14,s2bq15,s2bq16,s2bq17,s2bq18,s2bq19a,s2bq19b,s2bq19c
60558,2.132020e+09,2,2,21320201,51,2.0,NaN,1.0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
61727,2.142010e+09,2,2,21420103,51,2.0,NaN,1.0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
31374,1.242010e+09,1,2,12420101,1,2.0,NaN,1.0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
37705,1.352010e+09,1,2,13520102,54,1.0,1.0,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
34906,1.302030e+09,1,2,13020301,52,2.0,NaN,2.0,1,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [64]:
# example of ONE HOUSEHOLD (idc separates individuals within households)
C.loc[C['hhcode']==1011010105]

,hhcode,province,region,psu,idc,s2aq01,s2aq02,s2aq03,s2bq01,s2bq02,...,s2bq12,s2bq13,s2bq14,s2bq15,s2bq16,s2bq17,s2bq18,s2bq19a,s2bq19b,s2bq19c
16,1.011010e+09,1,1,10110101,1,1.0,1.0,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
17,1.011010e+09,1,1,10110101,2,1.0,1.0,1.0,3,NaN,...,1.0,5.0,5.0,1.0,4.0,5.0,1.0,1800.0,2000.0,3800.0
18,1.011010e+09,1,1,10110101,3,1.0,1.0,1.0,3,NaN,...,1.0,5.0,4.0,1.0,3.0,5.0,1.0,1800.0,2000.0,3800.0
19,1.011010e+09,1,1,10110101,51,1.0,1.0,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
20,1.011010e+09,1,1,10110101,52,1.0,1.0,1.0,3,NaN,...,1.0,5.0,8.0,1.0,7.0,5.0,1.0,0.0,0.0,1250.0
21,1.011010e+09,1,1,10110101,53,1.0,1.0,1.0,3,NaN,...,1.0,5.0,6.0,1.0,5.0,5.0,1.0,0.0,0.0,800.0

In [65]:
# Create a yes/no column for "ever admitted"
C['ever_admitted']= 'yes'
C.loc[(C["s2bq01"] == 1), 'ever_admitted'] = 'no'
C['currently_enrrolled']= 'no'
C.loc[(C["s2bq01"] == 3), 'currently_enrrolled'] = 'yes'

In [66]:
# Reduce to the questions of interest (4 questions):

C["max_level_acheived"] = C["s2bq05"]
C["why_not"] = C["s2bq02"]
#C['enrolled_last_year']=C["s2bq05"]

C_relevant = C[
    [
        "hhcode",
        "idc",
        "ever_admitted",
        "max_level_acheived",
        "currently_enrrolled",
        "why_not",
        "region",
        "province",
    ]
].copy()

In [67]:
C_relevant

,hhcode,idc,ever_admitted,max_level_acheived,currently_enrrolled,why_not,region,province
0,1.011010e+09,1,no,NaN,no,NaN,1,1
1,1.011010e+09,51,yes,17.0,no,NaN,1,1
2,1.011010e+09,1,yes,12.0,no,NaN,1,1
3,1.011010e+09,51,yes,16.0,no,NaN,1,1
4,1.011010e+09,52,yes,NaN,yes,NaN,1,1
...,...,...,...,...,...,...,...,...
99310,4.071340e+09,52,yes,NaN,yes,NaN,1,4
99311,4.071340e+09,1,yes,8.0,no,NaN,1,4
99312,4.071340e+09,51,no,NaN,no,NaN,1,4
99313,4.071340e+09,52,yes,NaN,yes,NaN,1,4
99314,4.071340e+09,53,yes,NaN,yes,NaN,1,4

In [68]:
B = pd.read_stata(
    "/Users/clarissaache/Downloads/microdata_2005_06_social_stata//1a_roster.dta"
)
B.sample(5)

,hhcode,idc,s1aq02,s1aq03,s1aq04,age,s1aq05a,s1aq05b,s1aq05c,s1aq06,s1aq07,s1aq08,s1aq09,s1aq10,region,province,psu
97480,4.021010e+09,52,son/daughter,female,1,13,0.0,2.0,1992.0,unmarried/never married,NaN,1,51,yes,urban,balochistan,40210102
76427,3.042010e+09,52,son/daughter,female,1,12,0.0,1.0,1993.0,unmarried/never married,NaN,1,51,yes,rural,nwfp,30420101
72913,3.021010e+09,3,son/daughter,male,1,17,0.0,0.0,1988.0,unmarried/never married,NaN,1,51,yes,urban,nwfp,30210102
53467,2.051220e+09,1,head,male,1,37,0.0,0.0,1968.0,currently married,51.0,not alive,not alive,yes,urban,sindh,20512201
5346,1.041020e+09,55,son/daughter,female,1,9,26.0,9.0,1996.0,unmarried/never married,NaN,not in roster,51,yes,urban,punjab,10410201

In [69]:
# Change the names of the questions for readability
B['sex'] = B['s1aq03']
B['marital_status'] = B['s1aq06']

B_relevant = B[['hhcode','idc', 'age', 'sex', 'marital_status']].copy()

In [70]:
# Made the Household Code column a str type
B["hhcode"] = B["hhcode"].astype("str")
C["hhcode"] = C["hhcode"].astype("str")

In [71]:
# MERGE
years05_06 = pd.merge(B_relevant, C_relevant, on=["hhcode", "idc"], how='inner', indicator=False)

# Evaluate merge 
#years05_06._merge.value_counts() #(ALL GOOD)

In [72]:
# Select people in school enrollment age (I would say 4-10 years old)
years05_06 = years05_06.loc[(years05_06["age"] >= 4)&(years05_06["age"] <= 15)]

In [73]:
years05_06.province.value_counts()
# weird! It doesnt have the provinces with codes 5,6,7

1    13846
2     9127
3     8520
4     6026
Name: province, dtype: int64

In [74]:
# Lets see which hh codes we have:
years05_06["hhcode"] = years05_06["hhcode"].astype("str")
years05_06['subprovince code']= years05_06['hhcode'].apply(lambda x: x[0:4])
years05_06["subprovince code"] = years05_06["subprovince code"].astype("int")
years05_06.loc[(years05_06["region"] == 1), 'region'] = 'urban'
years05_06.loc[(years05_06["region"] == 2), 'region'] = 'rural'

In [75]:
# Now we import the stratum name - code data
strat_name = pd.read_csv(
    "/Users/clarissaache/Documents/IDS 701/stratum0506_v1.csv"
)
strat_name.sample(5)

,province,subprovince code,subprovince,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
44,Sindh,2102,Hyderabad,NaN,NaN,NaN,NaN
91,Balochistan,4182,Zhob,NaN,NaN,NaN,NaN
107,Punjab,1161,Bahawalpur,NaN,NaN,NaN,NaN
65,NWFP,3152,D.I.Khan,NaN,NaN,NaN,NaN
62,NWFP,3122,Karak,NaN,NaN,NaN,NaN

In [76]:
# MERGE
years05_06_ = pd.merge(years05_06, strat_name, on=["subprovince code"], how='inner', indicator=True)

# Evaluate merge 
years05_06_._merge.value_counts()

both          37519
left_only         0
right_only        0
Name: _merge, dtype: int64

In [77]:
years05_06_.sample(10)

,hhcode,idc,age,sex,marital_status,ever_admitted,max_level_acheived,currently_enrrolled,why_not,region,province_x,subprovince code,province_y,subprovince,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,_merge
25620,3052030115.0,52,10,female,unmarried/never married,yes,NaN,yes,NaN,rural,3,3052,NWFP,Shangla,NaN,NaN,NaN,NaN,both
15323,2031030205.0,53,7,male,unmarried/never married,yes,NaN,yes,NaN,urban,2,2031,Sindh,Hyderabad,NaN,NaN,NaN,NaN,both
34943,4042030316.0,52,15,female,unmarried/never married,no,NaN,no,6.0,rural,4,4042,Balochistan,Makran,NaN,NaN,NaN,NaN,both
33240,4031020308.0,55,12,female,unmarried/never married,yes,NaN,yes,NaN,urban,4,4031,Balochistan,Kalat,NaN,NaN,NaN,NaN,both
11773,1282030108.0,54,5,female,unmarried/never married,no,NaN,no,6.0,rural,1,1282,Punjab,Lodhran,NaN,NaN,NaN,NaN,both
7980,1151310108.0,52,5,female,unmarried/never married,no,NaN,no,10.0,urban,1,1151,Punjab,Sialkot,NaN,NaN,NaN,NaN,both
4684,1092040101.0,54,6,male,unmarried/never married,no,NaN,no,10.0,rural,1,1092,Punjab,Mianwali,NaN,NaN,NaN,NaN,both
11616,1272020107.0,52,11,female,unmarried/never married,yes,NaN,yes,NaN,rural,1,1272,Punjab,Pakpatten,NaN,NaN,NaN,NaN,both
18584,2061240210.0,54,4,male,unmarried/never married,no,NaN,no,10.0,urban,2,2061,Sindh,Hyderabad,NaN,NaN,NaN,NaN,both
30208,3212010101.0,55,8,female,unmarried/never married,no,NaN,no,11.0,rural,3,3212,NWFP,Mardan,NaN,NaN,NaN,NaN,both

In [78]:
years05_06_.to_csv('/Users/clarissaache/Documents/IDS 701/uds-2022-ids-701-team-3/10_data_cleaning/clean_clarissa/years05_06_.csv', index_label="id")