In [47]:
import pandas as pd

C = pd.read_stata(
    "/Users/clarissaache/Downloads/microdata_2005_06_social_stata/sec 2a.dta", convert_categoricals=False
)
print(C.shape)
C.sample(5)

(99315, 29)

,hhcode,province,region,psu,idc,s2aq01,s2aq02,s2aq03,s2bq01,s2bq02,...,s2bq12,s2bq13,s2bq14,s2bq15,s2bq16,s2bq17,s2bq18,s2bq19a,s2bq19b,s2bq19c
90424,4.032030e+09,4,2,40320301,1,2.0,NaN,2.0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
98074,4.071120e+09,4,1,40711201,1,1.0,1.0,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
43173,2.031040e+09,2,1,20310403,55,1.0,1.0,1.0,3,NaN,...,2.0,5.0,4.0,1.0,3.0,3.0,2.0,1200.0,400.0,1600.0
7863,1.061020e+09,1,1,10610204,1,1.0,1.0,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
82998,3.232010e+09,3,2,32320101,52,2.0,NaN,1.0,1,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0

In [48]:
# example of ONE HOUSEHOLD (idc separates individuals within households)
C.loc[C['hhcode']==1011010105]

,hhcode,province,region,psu,idc,s2aq01,s2aq02,s2aq03,s2bq01,s2bq02,...,s2bq12,s2bq13,s2bq14,s2bq15,s2bq16,s2bq17,s2bq18,s2bq19a,s2bq19b,s2bq19c
16,1.011010e+09,1,1,10110101,1,1.0,1.0,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
17,1.011010e+09,1,1,10110101,2,1.0,1.0,1.0,3,NaN,...,1.0,5.0,5.0,1.0,4.0,5.0,1.0,1800.0,2000.0,3800.0
18,1.011010e+09,1,1,10110101,3,1.0,1.0,1.0,3,NaN,...,1.0,5.0,4.0,1.0,3.0,5.0,1.0,1800.0,2000.0,3800.0
19,1.011010e+09,1,1,10110101,51,1.0,1.0,1.0,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
20,1.011010e+09,1,1,10110101,52,1.0,1.0,1.0,3,NaN,...,1.0,5.0,8.0,1.0,7.0,5.0,1.0,0.0,0.0,1250.0
21,1.011010e+09,1,1,10110101,53,1.0,1.0,1.0,3,NaN,...,1.0,5.0,6.0,1.0,5.0,5.0,1.0,0.0,0.0,800.0

In [49]:
# Create a yes/no column for "ever admitted"
C['ever_admitted']= 'yes'
C.loc[(C["s2bq01"] == 1), 'ever_admitted'] = 'no'
C['currently_enrrolled']= 'no'
C.loc[(C["s2bq01"] == 3), 'currently_enrrolled'] = 'yes'

In [50]:
# Reduce to the questions of interest (4 questions):

C["max_level_acheived"] = C["s2bq05"]
C["why_not"] = C["s2bq02"]
#C['enrolled_last_year']=C["s2bq05"]

C_relevant = C[
    [
        "hhcode",
        "idc",
        "ever_admitted",
        "max_level_acheived",
        "currently_enrrolled",
        "why_not",
        "region",
        "province",
    ]
].copy()

In [51]:
C_relevant

,hhcode,idc,ever_admitted,max_level_acheived,currently_enrrolled,why_not,region,province
0,1.011010e+09,1,no,NaN,no,NaN,1,1
1,1.011010e+09,51,yes,17.0,no,NaN,1,1
2,1.011010e+09,1,yes,12.0,no,NaN,1,1
3,1.011010e+09,51,yes,16.0,no,NaN,1,1
4,1.011010e+09,52,yes,NaN,yes,NaN,1,1
...,...,...,...,...,...,...,...,...
99310,4.071340e+09,52,yes,NaN,yes,NaN,1,4
99311,4.071340e+09,1,yes,8.0,no,NaN,1,4
99312,4.071340e+09,51,no,NaN,no,NaN,1,4
99313,4.071340e+09,52,yes,NaN,yes,NaN,1,4
99314,4.071340e+09,53,yes,NaN,yes,NaN,1,4

In [52]:
B = pd.read_stata(
    "/Users/clarissaache/Downloads/microdata_2005_06_social_stata//1a_roster.dta"
)
B.sample(5)

,hhcode,idc,s1aq02,s1aq03,s1aq04,age,s1aq05a,s1aq05b,s1aq05c,s1aq06,s1aq07,s1aq08,s1aq09,s1aq10,region,province,psu
3708,1.031020e+09,3,son/daughter,male,1,23,0.0,0.0,1982.0,unmarried/never married,NaN,1,51,yes,urban,punjab,10310201
56984,2.061120e+09,1,head,male,1,66,0.0,0.0,1939.0,currently married,51.0,not alive,not alive,yes,urban,sindh,20611201
1634,1.021010e+09,51,spouse,female,1,27,0.0,0.0,1978.0,currently married,1.0,not in roster,not alive,yes,urban,punjab,10210101
58696,2.062010e+09,2,father/mother,male,1,62,0.0,0.0,1943.0,currently married,56.0,not alive,not alive,yes,rural,sindh,20620102
82706,3.081240e+09,71,grand child,female,1,9,0.0,0.0,1996.0,unmarried/never married,NaN,11,68,yes,urban,nwfp,30812402

In [53]:
# Change the names of the questions for readability
B['sex'] = B['s1aq03']
B['marital_status'] = B['s1aq06']

B_relevant = B[['hhcode','idc', 'age', 'sex', 'marital_status']].copy()

In [54]:
# Made the Household Code column a str type
B["hhcode"] = B["hhcode"].astype("str")
C["hhcode"] = C["hhcode"].astype("str")

In [55]:
# MERGE
years05_06 = pd.merge(B_relevant, C_relevant, on=["hhcode", "idc"], how='inner', indicator=False)

# Evaluate merge 
#years05_06._merge.value_counts() #(ALL GOOD)

In [56]:
# Select people in school enrollment age (I would say 4-10 years old)
years05_06 = years05_06.loc[(years05_06["age"] >= 4)&(years05_06["age"] <= 15)]

In [57]:
years05_06.province.value_counts()
# weird! It doesnt have the provinces with codes 5,6,7

1    13846
2     9127
3     8520
4     6026
Name: province, dtype: int64

In [58]:
# Lets see which hh codes we have:
years05_06["hhcode"] = years05_06["hhcode"].astype("str")
years05_06['subprovince code']= years05_06['hhcode'].apply(lambda x: x[0:4])
years05_06["subprovince code"] = years05_06["subprovince code"].astype("int")
years05_06.loc[(years05_06["region"] == 1), 'region'] = 'urban'
years05_06.loc[(years05_06["region"] == 2), 'region'] = 'rural'

In [59]:
# Now we import the stratum name - code data
strat_name = pd.read_csv(
    "/Users/clarissaache/Documents/IDS 701/stratum0506_v1.csv"
)
strat_name.sample(5)

,province,subprovince code,subprovince,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
86,Balochistan,4132,Kharan,NaN,NaN,NaN,NaN
88,Balochistan,4152,Ketch/Turbat,NaN,NaN,NaN,NaN
44,Sindh,2102,Hyderabad,NaN,NaN,NaN,NaN
6,Punjab,1072,Bhakar,NaN,NaN,NaN,NaN
16,Punjab,1172,Mandi Bahuddin,NaN,NaN,NaN,NaN

In [60]:
# MERGE
years05_06_ = pd.merge(years05_06, strat_name, on=["subprovince code"], how='inner', indicator=True)

# Evaluate merge 
years05_06_._merge.value_counts()

both          37519
left_only         0
right_only        0
Name: _merge, dtype: int64

In [61]:
years05_06_.sample(10)

,hhcode,idc,age,sex,marital_status,ever_admitted,max_level_acheived,currently_enrrolled,why_not,region,province_x,subprovince code,province_y,subprovince,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,_merge
32681,4021040201.0,4,12,male,unmarried/never married,yes,NaN,yes,NaN,urban,4,4021,Balochistan,Sibbi,NaN,NaN,NaN,NaN,both
4859,1101220103.0,54,13,female,unmarried/never married,yes,NaN,yes,NaN,urban,1,1101,Punjab,Faisalabad,NaN,NaN,NaN,NaN,both
32682,4021040201.0,52,9,male,unmarried/never married,yes,NaN,yes,NaN,urban,4,4021,Balochistan,Sibbi,NaN,NaN,NaN,NaN,both
34151,4032040306.0,56,10,female,unmarried/never married,yes,NaN,yes,NaN,rural,4,4032,Balochistan,Kalat,NaN,NaN,NaN,NaN,both
32117,4012030304.0,53,6,female,unmarried/never married,yes,NaN,yes,NaN,rural,4,4012,Balochistan,Quetta,NaN,NaN,NaN,NaN,both
22578,2142040109.0,53,8,female,unmarried/never married,no,NaN,no,2.0,rural,2,2142,Sindh,Mir Pur Khas,NaN,NaN,NaN,NaN,both
19136,2062040208.0,2,10,male,unmarried/never married,no,NaN,no,11.0,rural,2,2062,Sindh,Jaccobabad,NaN,NaN,NaN,NaN,both
26808,3081140101.0,2,12,male,unmarried/never married,yes,NaN,yes,NaN,urban,3,3081,NWFP,Peshawar,NaN,NaN,NaN,NaN,both
3145,1071010101.0,2,13,male,unmarried/never married,no,NaN,no,5.0,urban,1,1071,Punjab,D.G.Khan,NaN,NaN,NaN,NaN,both
23668,3012040213.0,60,6,male,unmarried/never married,no,NaN,no,10.0,rural,3,3012,NWFP,Swat,NaN,NaN,NaN,NaN,both

In [62]:
years05_06_.to_csv('/Users/clarissaache/Documents/IDS 701/uds-2022-ids-701-team-3/10_data_cleaning/clean_clarissa/years05_06_.', index_label="id")